<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :job_type %>
    <%= form.text_field :job_type %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :job_author %>
    <%= form.text_field :job_author %>
  </div>

  <div class="field">
    <%= form.label :remote_ok %>
    <%= form.check_box :remote_ok %>
  </div>

  <div class="field">
    <%= form.label :apply_url %>
    <%= form.text_field :apply_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
